.infoHeader{
  color: skyblue;
  justify-content: center;
  display: flex;
  margin-top:10px;
  font-size: 18px;
}
.statusWrapper{
  margin-top: 10px;
  font-size: 18px;
  color: skyblue;
  display: flex;
  justify-content: center;
}
